
nav {
	display: flex;
	flex-wrap: wrap;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.navi li:nth-child(1){
	
	flex: 1 0 50%;
}

.navi li:nth-child(2){
	
	flex: 1 0 30%;
} 

.navi li:nth-child(3){
	
	flex: 1 0 40%;
}

.navi li:nth-child(4){
	
	flex: 1 0 100%;
}

#header {
	font-family: 'Spectral', serif;
	margin-left: 50px;
	flex: 1 0 50px;	
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
	background-image: url("profile-pictures/Hexagon-1.jpg");
}

body p  {
	font-size: 20px;
	font-family: "Bree Serif";
}

body ul {
	font-size: 20px;
	font-family: "Bree Serif";
}


#profile {
	margin-top: 14px;
	margin-left: 52px;
	width: 245px;
	height: 260px;
}

.aboutMe {
	
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 50px;
}

.aboutMe h1 {
	font-style: Montserrat;
	font-size: 30px;
}

#eatSleep {
	font-size-adjust: 120%;
}

.networking {
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;

}

.networking a:link, a:visited {
    background-color: #6A5ACD;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.networking a:hover, a:active {
    background-color: purple;
}

.AboutMeContainer {
	display: flex;
}


.skills {
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;

}

.education {
	
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin: 40px;
	
}

.logoContainer {
	display: flex;
	padding: 5px;
	width: 300px;
	margin: 0 5px;
	margin-left: 50px;
}


#capLogo {
	height: 200px;
	width: 200;
	margin: 0 75px;
}

#wcciLogo {
	height: 75px;
	width: 325px;
	margin: 0 75px;
}

.currentProjects {
	order: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.projectsContainer img {
	display: column;

}

#projSpring {
	margin-top: 17px;
}

.contacts {
	margin-left: 50px;
	font-size: 20px;
}

.disclaimers p {
	margin-left: 50px;
	font-size: 12px;
	font-style: italic;
}
