
nav {
	display: flex;
	flex-wrap: wrap;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}


.navi ul li:nth-child(1) {
	margin-left: 200px;
	flex: 3 0 55%;
}

.navi ul li:nth-child(2) {
	/*margin-left: 300px;*/
	flex: 1 0 20%;
} 

.navi ul li:nth-child(3) {
	flex: 1 0 10%;
}

.navi ul li:nth-child(4) {
	flex: 1 0 15%;
}

.navi ul li:nth-child(5) {
	flex: 1 0 5%;
}

.navi a {
	color: navy;
}

.navi a:hover {
	background-color: slategrey;
}

/*#header {
	font-family: 'Spectral', serif;
	/*margin-left: 50px;*/
	/*flex: 3 0 10;	*/*/
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
	background-image: url("profile-pictures/Hexagon-1.jpg");
}

body p  {
	font-size: 20px;
	font-family: "Bree Serif";
}

body ul {
	font-size: 20px;
	font-family: "Bree Serif";
}


#profile {
	margin-top: 14px;
	margin-left: 52px;
	width: 245px;
	height: 260px;
}

.aboutMe {
	
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 50px;
}

.aboutMe h1 {
	font-style: Montserrat;
	font-size: 30px;
}



.networking {
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;

}

.networking a:link, a:visited {
    background-color: #6A5ACD;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.networking a:hover, a:active {
    background-color: purple;
}

.AboutMeContainer {
	display: flex;
}


.skills {
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;

}

.skills ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 25px;
}

.skills ul li:nth-child(1) {
	flex: 1 0 2%;
}

.skills ul li:nth-child(2) {
	flex: 1 0 7%;
}

.skills ul li:nth-child(3) {
	flex: 1 0 5%;
}

.skills ul li:nth-child(4) {
	flex: 1 0 5%;
}

.skills ul li:nth-child(5) {
	flex: 1 0 16%;
}

.skills ul li:nth-child(6) {
	flex: 1 0 5%;
}

.skills ul li:nth-child(7) {
	flex: 1 0 5%;
}



.education {
	
	border: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin: 40px;
	
}

.logoContainer {
	display: flex;
	padding: 5px;
	width: 300px;
	margin: 0 5px;
	margin-left: 50px;
}


#capLogo {
	height: 200px;
	width: 200;
	margin: 0 75px;
}

#wcciLogo {
	height: 75px;
	width: 325px;
	margin: 0 75px;
}

.currentProjects {
	order: 10px solid grey;
	border-radius: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.projectsContainer img {
	display: column;

}

#projSpring {
	margin-top: 17px;
}

.contacts {
	margin-left: 50px;
	font-size: 20px;
}

.disclaimers p {
	margin-left: 50px;
	font-size: 12px;
	font-style: italic;
}
